* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    min-height: 100%;
    background: url("../img/kurage.jpg") no-repeat fixed center center;
}
.site-header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

h1 {
    position: fixed;
    height: 80px;
    width: 80px;
    float: left;
    font-size: 60px;
    border-right: 4px solid #fff;
    text-align: center;
}

ul {
    float: right;
}

a:visited {
    color: #fff;
}

ul.family li {
    display: inline-block;
    list-style: none;
    float: left;
    padding: 20px 40px;
    font-size: 30px;
}

li a {
    text-decoration: none;
    text-align: center;
}

li a:hover {
    border-bottom: 3px solid #fff;
}

.family {
    font-family: "Yu Gothic UI";
}

.top-twitter {
    position: absolute;
    top: 200px;
    right: 0px;
}

.top-twitter .twitter-acount {
    position: absolute;
    right: 0px;
}